<div class="container margin">
  <div class="row justify-content-center">
    <div class="col-sm-5">
      <h2 class="titles">Historial De Servicios</h2>
    </div>
    <div class="col-sm-5 text-right">
      <% if current_user != nil and current_user.has_role? :client %>
        <%= link_to "Solicitar Servicio", new_service_path, remote: true, class:"btn btn-dark" %>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-10 margin">
      <table class="table table-hover table-sm">
        <thead class="thead-light">
          <tr class="titles">
            <th class="text-center">Id</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Fecha</th>
            <th>Hora</th>
            <% if current_user.has_role? :admin %>
              <th>Cliente</th>
              <th>Estado</th>
              <th>Mensajero</th>
              <th class="text-center">Asignar</th>
            <% end %>
          </tr>
        </thead>
        <% @services.each do |service| %>
          <tbody>
            <% if current_user != nil and current_user.has_role? :admin%>
              <%= render "services/row", service: service %>
            <% elsif service.user == current_user %>
              <%= render "services/row", service: service %>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
