@import "bootstrap";
@import "services";

body{
  background: #f5f5f2;
}

// titulos
.titles{
  text-shadow: -1px -1px 1px rgba(0,0,0,0.3);
}

// formularios devise
.margin-devise{
  margin: 20px 10px;
}
